# Ignore all files without extension (Ignore all except
# those containing a dot or between slashes)
# THIS PART MUST REMAIN AT THE BEGINNING OF .gitignore!
*
!/**/
!*.*
###########################################################

# Ignore */build directories and their content
build/

# Ignore all .wbproj files
*.wbproj

# Ignore all temporary files
*~
